pre[class^="language-"] {
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 1px 1px black;
}

.toolbar-item button {
    cursor: pointer !important;
    color: white !important;
    border: 1px solid white !important;
    border-radius: 15px !important;
    padding: 5px 14px !important;
}

.code-toolbar {
    margin: 20px 0px;
}

.queries-list-item{
    margin: 10px;
    padding: 20px;
    background-color: #f6f8fa;
    border-color: #e1e4e8;
    border-style: solid;
    border-width: 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    display: grid;
    grid-template-columns: 15% 30% 50% 5%;
    grid-template-rows: auto;
}

.queries-list-item:hover{
    background-color: #eef1f5;
    border-color: #e1e4e8;
}

.preview-description{
    font-size: 1.1rem;
}

.preview-arrow-icons {
    width: 45%;
    height: auto;
}

.preview-title:hover {
    text-decoration: none;
}