/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
    .hide-element {
        display: none;
    }

    .fade {
        -webkit-animation: fade 4s;
        animation: fade 4s;
        -moz-animation: fade 4s;
        -o-animation: fade 4s;
    }

    .site-search {
        width: 100%;
    }

    .search-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .search-input.focused {
        border-color: hsl(261, 100%, 45%);
        box-shadow: 0 0 1px 2px hsl(261, 100%, 45%);
    }

    .search-container input.search-input {
        width: 60%;
        padding: 10px;
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid #1890ff;
        padding: 5px 0px 2px 0px;
        outline: none;
    }

    .search-submit-button {
        width: 30%;
        background-color: black;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        padding: 10px;
        border-radius: 25px;
    }

    .search-error {
        font-size: 0.75em;
        height: 40px;
        display: flex;
        transition: all 0.5s ease-out;
        width: 95%;
    }

    .search-error-message {
        font-style: italic;
        color: #e60000;
        text-align: center;
        margin: auto;
        line-height: 1;
        font-size: 1.15rem;
        font-weight: 500;
        transition: all 0.5s ease-out;
    }

    .search-form-title {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .search-form-title-substring {
        font-style: italic;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 500;
    }


    .search-results {
        display: flex;
        flex: 1 0 100%;
        margin: 0 0 20px 0;
        justify-content: center;
        align-items: center;
    }

    #search-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .search-query,
    .search-detail {
        line-height: 1.2;
    }

    .search-query-left {
        align-self: flex-end;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .search-query-right {
        text-align: right;
        white-space: nowrap;
        align-self: flex-end;
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: underline;
    }


    #results-count {
        font-size: 0.9em;
        margin: 0 6px 0 0;
    }

    .clear-search-results-button {
        width: 18%;
        display: block;
        background-color: black;
        padding: 10px 0px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        size: 0.8rem;
        border-radius: 28px;
    }

    .search-results-list-item {
        width: 100%;
    }
}

/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
    .search-container input.search-input {
        width: 65%;
        padding: 10px;
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid #1890ff;
        padding: 5px 0px 2px 0px;
        outline: none;
    }

    .search-submit-button {
        width: 25%;
        background-color: black;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        padding: 10px;
        border-radius: 25px;
    }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
    .search-container input.search-input {
        width: 70%;
        padding: 10px;
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid #1890ff;
        padding: 5px 0px 2px 0px;
        outline: none;
    }

    .search-submit-button {
        width: 20%;
        background-color: black;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        padding: 10px;
        border-radius: 25px;
    }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
    .search-container input.search-input {
        width: 75%;
        padding: 10px;
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid #1890ff;
        padding: 5px 0px 2px 0px;
        outline: none;
    }

    .search-submit-button {
        width: 15%;
        background-color: black;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        padding: 10px;
        border-radius: 25px;
    }
}

/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
    .search-container input.search-input {
        width: 75%;
        padding: 10px;
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid #1890ff;
        padding: 5px 0px 2px 0px;
        outline: none;
    }

    .search-submit-button {
        width: 15%;
        background-color: black;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        padding: 10px;
        border-radius: 25px;
    }
}