<header>
  <nav>
    <div class="top-nav">
      <div class="top-nav__logo"><a href="/">{{ site.Title }}</a></div>
      <div class="top-nav__link-group">
        <div class="top-nav__link"><a href="/">Home</a></div>
        <div class="top-nav__link"><a href="/tags">Tags</a></div>
        <div class="top-nav__link"><a href="/cpp">C++</a></div>
        <div class="top-nav__link"><a href="/csharp">C#</a></div>
        <div class="top-nav__link"><a href="/javascript">Javascript</a></div>
        <div class="top-nav__link"><a href="/java">Java</a></div>
        <div class="top-nav__link"><a href="/go">Go</a></div>
        <div class="top-nav__link"><a href="/python">Python</a></div>
        <div class="top-nav__link"><a href="/ruby">Ruby</a></div>
        <div class="top-nav__link"><a href="/about">About</a></div>
        <div class="top-nav__link"><a href="/search">
            <img class="icons" src="/white-search-icon.ico">
          </a>
        </div>
      </div>
    </div>
    </div>
  </nav>
</header>