{{ define "main" }}
  <body>
    <div class="home-page-body">
    <h1>CodeQL Cheat Sheets</h1>
    <p>CodeQL is the world’s best Static Analysis Security Testing for building softwares!</p>
    <ul class="languages-list d-flex flex-wrap justify-content-center">
      <li class="d-flex col-lg-4 col-sm-6 px-5 py-5 font-weight-bold"><a class="language-link" href="/cpp">CodeQL Queries Cheatsheets for C/C++</a></li>
      <li class="d-flex col-lg-4 col-sm-6 px-5 py-5 font-weight-bold"><a class="language-link" href="./java">CodeQL Queries Cheatsheets for Java</a></li>
      <li class="d-flex col-lg-4 col-sm-6 px-5 py-5 font-weight-bold"><a class="language-link" href="../javascript">CodeQL Queries Cheatsheets for Javascript</a></li>
      <li class="d-flex col-lg-4 col-sm-6 px-5 py-5 font-weight-bold"><a class="language-link" href="./python">CodeQL Queries Cheatsheets for Python</a></li>
      <li class="d-flex col-lg-4 col-sm-6 px-5 py-5 font-weight-bold"><a class="language-link" href="./go">CodeQL Queries Cheatsheets for Go</a></li>
      <li class="d-flex col-lg-4 col-sm-6 px-5 py-5 font-weight-bold"><a class="language-link" href="./csharp">CodeQL Queries Cheatsheets for C#</a></li>
      <li class="d-flex col-lg-4 col-sm-6 px-5 py-5 font-weight-bold"><a class="language-link" href="./ruby">CodeQL Queries Cheatsheets for Ruby</a></li>
    </ul>
    </div>
  </body>
{{end}}